.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    overflow-y: scroll;
    padding: 1rem;
    background: rgb(52, 53, 57);
    background: radial-gradient(circle, rgba(52, 53, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);


}

.title {
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    margin: 0 auto;
}