@media (min-width: 700px) {

  .candidato1 {
    top: 7%;
    left: 12%;
    clip-path: polygon(10% 0%, 85% 0%, 35% 100%, 0% 100%);
  }

  .candidato2 {
    top: 7%;
    left: -.5%;
    clip-path: polygon(0% 100%, 50% 0%, 85% 0%, 100% 100%);
  }

  .candidato3 {
    top: 7%;
    left: 50.3%;
    ;
    clip-path: polygon(12% 0%, 100% 0%, 90% 100%, 27% 100%);
  }


}