.container{
   
    margin: 1rem;
    font-family: "Bebas Neue", serif;
}
.container__title{
    position: relative;
    width: fit-content;
    overflow: visible;
}
.title {
    font-size: clamp(4rem, 10vw, 400px);
    color: #efb710b1; /* Texto visible */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 30px rgba(255, 255, 255, 0.5); /* Efecto glow */
    position: relative;
}

.title__aux{
     position: absolute;
     font-size: clamp(2rem, 4vw, 200px);
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     animation: titleAnimation ease-in-out 10s infinite;
    
     z-index: -2;
}
.title__aux::after{
    content: 'VM AWARDS';
    position: absolute;
    font-size: clamp(2rem, 2vw, 200px);
    top: 50%;
    left: 50%;
    transform: translate(20%,20%);
    animation: titleAnimation ease-in-out 7s infinite;
   
    z-index: -2;
}
.title__aux2{
    position: absolute;
    font-size: clamp(2rem, 4vw, 200px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: titleAnimation2 ease-in-out 10s infinite;
   
    z-index: -2;
}

.title__aux2::before{
    content: 'VM AWARDS';
    position: absolute;
    font-family: "Bebas Neue", serif;
    top: 50%;
    left: 50%;
    transform: translate(70%,70%);
    font-size: clamp(1rem, 2vw, 100px);
    animation: titleAnimation2 ease-in-out 7s infinite;
    z-index: -1;
   
}
.title__aux3{
    position: absolute;
    font-size: clamp(2rem, 3vw, 200px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: titleAnimation3 ease-in-out 10s infinite;
   
    z-index: -2;
}

.welcome{
    font-size: clamp(1rem, 2rem, 200px);
    strong{
        color: #8f8f8a;
    }
}

@keyframes titleAnimation{
    0%{
       filter: blur(5px);
       opacity: 0;
       transform: scale(.2);
    }
    25%{
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        opacity: 0;
        filter: blur(0px);
        transform: translate(-75%,-50%) scale(1.5);
    }
}
@keyframes titleAnimation2{
    0%{
      
       opacity: 0;
       filter: blur(5px);
       transform: translate(-25%,55%) scale(.3);
    }
    25%{

        opacity: 1;
    }
    100%{
        
        opacity: 0;
        
        transform: translate(-150%,-100%) scale(1.7);
    }
}
@keyframes titleAnimation3{
    0%{
      
       opacity: 0;
       filter: blur(5px);
       transform: translate(25%,55%) scale(.3);
    }
    25%{

        opacity: 1;
    }
    100%{
        
        opacity: 0;
        
        transform: translate(100%,0%) scale(1.7);
    }
}