/* NUMERO :  10 */

@media (min-width: 700px) {
    .candidato1 {
        top: -16%;
        left: 5%;
        clip-path: polygon(12% 24%, 73% 21%, 49.2% 71%, 34% 71%, -2% 42.2%);
    }

    .candidato2{
        top: -15%;
        left: -9.5%;
        clip-path: polygon(20% 69%, 44% 20%, 76% 25%, 78.4% 41.8% ,51.2% 72.4%);
    }

    .candidato3{
        top: -15%;
        left: 38.3%;
       clip-path:  polygon(11.5% 25%, 101% 22%, 95% 76%, 66.1% 76.1%, 14% 42%);
       
    }

    .candidato4{
        top: -14%;
        left: 64.6%;
        clip-path: polygon(26.6% 17%, 71% 21%, 87% 74.8%, 20.5% 75%);
    }
   

    .candidato5 {
        top: 33%;
        left: 63.6%;
        clip-path: polygon(23% 20%, 91% 20%, 86% 80%, 18.5% 74%);
    }

    
    .candidato6 {
        left: -32.5%;
        top: 29.5%;
        clip-path: polygon(15% 42.6%, 70% 18%, 84% 17.7%, 55.5% 76%, 16% 77%);

    }

    .candidato7{
        top: 32%;
        left: 12.5%;
        clip-path: polygon(28% 14%, 60% 17.5%, 95.3% 37.9%, 100% 72%, -.5% 72%);
    }
    .candidato8{
        top: 32%;
        left: 39.5%;
        clip-path: polygon(18.5% 38.2%,62% 21%, 91.5% 21%, 86.5% 75%, 23.5% 72%)
    }
    .candidato9{
        top: 8%;
        clip-path: polygon(11% 45.5%, 38% 15%, 90% 49%, 46.5% 66%);
    }
    .candidato10{
        top: -1%;
        left: -37%;
        clip-path: polygon(21% 48.5%, 44% 23%, 82% 53.6%, 29.5% 77%);
    
    }
}